<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta charset="UTF-8" />
		<title>Round Table</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>
		<link rel="stylesheet" href="/style.css" type="text/css"></link>
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="ejs.min.js"></script>
	</head>

	<body>
		<%- include('navBar.ejs') -%>

		<div class="container">
			<table>
				<thead>
					<tr>
						<th>Title</th>
						<th>category</th>
						<th>No of people interested?</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<%if(connections.length > 0){%>
						<% connections.forEach(function(saved){%>
					<tr>
						<td><%=saved.title%></td>
						<td><%=saved.category%></td>
						<td><%=saved.upVoted%></td>
						<td>
						
							<a
								class="btn waves-effect waves-light"	
						href="/connections/createdConnection/delete/<%=saved.conId%>">Delete</a
							>
						</td>
					</tr>
					<%})%>
					<%}%>
				</tbody>
			</table>
		</div>
		<span style="position: fixed; bottom: 0;	width: 100%"><%- include('fotter.ejs') -%></span>	</body>
	</body>
</html>
