<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta charset="UTF-8" />
		<title>Round Table</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>
		<link rel="stylesheet" href="/style.css" type="text/css"></link>
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="ejs.min.js"></script>
	</head>

	<body>
		<%- include('navBar.ejs') -%>

		<div class="container">
			<table>
				<thead>
					<tr>
						<th>Table</th>
						<th>category</th>
						<th>Going?</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<%if(savedConnection.length > 0){%>
						<% savedConnection.forEach(function(saved){%>
					<tr>
						<td><%=saved.title%></td>
						<td><%=saved.category%></td>
						<td><%=saved.status%></td>
						<td>
							<a class="btn waves-effect waves-light" 
							href="/connections/connectionDetails/update/0/<%=saved.conId%>"
								>Update</a
							>
							<a
								class="btn waves-effect waves-light"	
						href="/connections/connectionDetails/delete/<%=saved.status%>/<%=saved.conId%>">Delete</a
							>
						</td>
					</tr>
					<%})%>
					<%}%>
				</tbody>
			</table>
		</div>
		<span style="position: fixed; bottom: 0;	width: 100%"><%- include('fotter.ejs') -%></span>	</body>
	</body>
</html>
